[Desktop Entry]
Name=LXQT LightDM Greeter
Comment=This runs the lxqt LightDM greeter, it should only be run from LightDM
Exec=lxqt-lightdm-greeter
Type=Application
X-Ubuntu-Gettext-Domain=lightdm
