QWidget {
    border-radius: 5px;
}

#formFrame { 
    background-color: rgba(80,80,80, 180);
    border-radius: 10px;
}

QComboBox,
QPushButton {
    border: 1px solid silver;
    background-color: rgb(200, 200, 200);
}

QComboBox::drop-down {
    border: none;
    width: 24px;
    text-align: center;
}

QComboBox::down-arrow {
    image: url(:/resources/dropdown.svg);
}

